body {
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 50px;
  border-bottom: var(--color-teal) 2px solid;
  background-color: var(--color-teal);
  overflow-x: auto;
  overflow-y: hidden;
}

.logo img {
  width: 180px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  padding: 0;
  font-size: 18px;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  color: var(--color-orange);
}

.book {
  background-color: var(--color-whitesmoke);
  color: var(--color-teal);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 20px;
  }
  
  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .logo img {
    margin-bottom: 20px;
  }
  
  .book {
    margin-top: 20px;
  }
}

main {
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Increase z-index */
}

main h1{
  color: var(--color-teal);
  margin-top: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 60px;
  color: black;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  border: 1px solid #ccc;
  color: black; 
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--color-teal);
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-montserrat);
  margin-top: 25px;
  box-sizing: border-box;
  z-index: 1;
}

input[type="submit"]:hover {
  background-color: var(--color-orange);
}

input {
  margin-bottom: 15px;
  padding: 8px 20px;
}

select {
  margin-bottom: 15px;
  padding: 8px 20px;
}

footer {
  background-color: var(--color-teal);
  color: var(--color-white);
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}
