.our-pawed-friends5 {
  position: absolute;
  top: 3.94px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 16px;
}
.our-facilities5,
.our-pawed-friends4 {
  position: absolute;
  top: 57px;
  left: 10px;
  width: 132px;
  height: 23.94px;
}
.our-facilities5 {
  top: 3.3px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 15.68px;
}
.our-facilities4,
.who-are-we4 {
  position: absolute;
  top: 31px;
  left: 10px;
  width: 132px;
  height: 23.94px;
}
.who-are-we4 {
  top: 5px;
}
.abouts-us-dropdown2 {
  position: absolute;
  top: 142px;
  left: 346px;
  border-radius: var(--br-smi);
  background-color: var(--color-whitesmoke);
  border: 2px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 152px;
  height: 86px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
}
.admin-panel2,
.cookies2,
.copyright-20232,
.privacy-policy2,
.terms-of-use2 {
  position: absolute;
  top: 27px;
  left: 436px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 567px;
  height: 63px;
}
.admin-panel2,
.cookies2,
.privacy-policy2,
.terms-of-use2 {
  top: 97px;
  left: 375px;
  text-decoration: underline;
  width: 162px;
  height: 44px;
}
.admin-panel2,
.cookies2,
.privacy-policy2 {
  left: 554px;
  width: 170px;
}
.admin-panel2,
.cookies2 {
  left: 741px;
  width: 137px;
}
.admin-panel2 {
  left: 895px;
  width: 169px;
  cursor: pointer;
}
.footer2 {
  position: absolute;
  top: 1865px;
  left: 0;
  background-color: var(--color-yellowgreen);
  width: 1440px;
  height: 183px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.book-a-spot,
.personal-details,
.venue-details {
  position: absolute;
  top: 284px;
  left: 21px;
  font-size: var(--font-size-41xl);
  color: var(--color-teal);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 78px;
}
.personal-details,
.venue-details {
  top: 393px;
  left: 573px;
  font-size: var(--font-size-21xl);
  width: 291px;
}
.personal-details {
  top: 1035px;
  left: 556px;
  width: 329px;
}
.frame-child6 {
  position: absolute;
  top: 33px;
  left: 0;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 451px;
  height: 96px;
}
.time {
  position: absolute;
  top: 0;
  left: 4px;
  display: flex;
  align-items: center;
  width: 203px;
  height: 33px;
}
.rectangle-parent6,
.rectangle-parent7 {
  position: absolute;
  top: 675px;
  left: 142px;
  width: 451px;
  height: 129px;
}
.rectangle-parent7 {
  left: 847px;
}
.rectangle-parent10,
.rectangle-parent8,
.rectangle-parent9 {
  position: absolute;
  top: 836px;
  left: 142px;
  width: 451px;
  height: 129px;
}
.rectangle-parent10,
.rectangle-parent9 {
  left: 847px;
}
.rectangle-parent10 {
  top: 514px;
  left: 142px;
}
.rectangle-parent11,
.rectangle-parent12,
.rectangle-parent13 {
  position: absolute;
  top: 514px;
  left: 847px;
  width: 451px;
  height: 129px;
}
.rectangle-parent12,
.rectangle-parent13 {
  top: 1174px;
  left: 144px;
}
.rectangle-parent13 {
  left: 846px;
}
.i-have-read,
.rectangle-parent14,
.rectangle-parent15 {
  position: absolute;
  top: 1346px;
  left: 144px;
  width: 451px;
  height: 129px;
}
.i-have-read,
.rectangle-parent15 {
  left: 846px;
}
.i-have-read {
  top: 1518px;
  left: 203px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 572px;
  height: 49px;
}
.booking-child,
.booking-item {
  position: absolute;
  top: 1523px;
  left: 144px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.booking-item {
  top: 1602px;
}
.i-would-like,
.sign-up4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.i-would-like {
  top: 1597px;
  left: 203px;
  font-size: var(--font-size-5xl);
  width: 994px;
  height: 49px;
}
.sign-up4 {
  top: 37.13px;
  left: 8.62px;
  line-height: 24px;
  justify-content: center;
  width: 359.86px;
  height: 33.6px;
}
.learn-more2 {
  position: absolute;
  top: 1702px;
  left: 530px;
  border-radius: var(--br-21xl);
  background-color: var(--color-orange);
  width: 379.25px;
  height: 107.86px;
  text-align: center;
  color: var(--color-white);
}
.frame-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  border-bottom: 2px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1440px;
  height: 240px;
}
.educational-programms2 {
  left: 581px;
  width: 146px;
}
.about-us2,
.contact-us4,
.educational-programms2,
.support-us2 {
  position: absolute;
  top: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
}
.contact-us4 {
  left: 1027px;
  width: 131px;
  cursor: pointer;
}
.about-us2,
.support-us2 {
  left: 810px;
  width: 134px;
}
.about-us2 {
  top: 110px;
  left: 354px;
  width: 111px;
}
.logo-icon2 {
  position: absolute;
  top: 9px;
  left: 43px;
  width: 221px;
  height: 221px;
  object-fit: cover;
  cursor: pointer;
}
.sign-up5 {
  position: absolute;
  top: 21px;
  left: 22px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 131px;
  height: 19px;
}
.book2 {
  position: absolute;
  top: 88px;
  left: 1241px;
  border-radius: var(--br-smi);
  background-color: var(--color-yellowgreen);
  width: 176px;
  height: 61px;
  color: var(--color-white);
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#f4f4f4, #f4f4f4), #f4f4f4;
  border: 1px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1440px;
  height: 240px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-yellowgreen);
}
.booking {
  position: relative;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2048px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
