.our-pawed-friends5 {
  position: absolute;
  top: 2.8px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.87px;
  height: 11.38px;
}
.our-facilities5,
.our-pawed-friends4 {
  position: absolute;
  top: 40.53px;
  left: 7.11px;
  width: 93.87px;
  height: 17.02px;
}
.our-facilities5 {
  top: 2.35px;
  left: 9.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73.96px;
  height: 11.15px;
}
.our-facilities4,
.who-are-we4 {
  position: absolute;
  top: 22.04px;
  left: 7.11px;
  width: 93.87px;
  height: 17.02px;
}
.who-are-we4 {
  top: 3.56px;
}
.abouts-us-dropdown2 {
  position: absolute;
  top: 100.98px;
  left: 246.04px;
  border-radius: 9.24px;
  background-color: var(--color-whitesmoke);
  border: 1.4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 108.09px;
  height: 61.16px;
  overflow: hidden;
  text-align: center;
  font-size: 9.96px;
}
.admin-panel2,
.cookies2,
.copyright-20232,
.privacy-policy2,
.terms-of-use2 {
  position: absolute;
  top: 19.2px;
  left: 310.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403.2px;
  height: 44.8px;
}
.admin-panel2,
.cookies2,
.privacy-policy2,
.terms-of-use2 {
  top: 68.98px;
  left: 266.67px;
  text-decoration: underline;
  width: 115.2px;
  height: 31.29px;
}
.admin-panel2,
.cookies2,
.privacy-policy2 {
  left: 393.96px;
  width: 120.89px;
}
.admin-panel2,
.cookies2 {
  left: 526.93px;
  width: 97.42px;
}
.admin-panel2 {
  left: 636.44px;
  width: 120.18px;
  cursor: pointer;
}
.footer2 {
  position: absolute;
  top: 1326.22px;
  left: 0;
  background-color: var(--color-yellowgreen);
  width: 1024px;
  height: 130.13px;
  text-align: center;
  font-size: 17.07px;
  color: var(--color-white);
}
.book-a-spot,
.personal-details,
.venue-details {
  position: absolute;
  top: 201.96px;
  left: 14.93px;
  font-size: 42.67px;
  color: var(--color-teal);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273.07px;
  height: 55.47px;
}
.personal-details,
.venue-details {
  top: 279.47px;
  left: 407.47px;
  font-size: 28.44px;
  width: 206.93px;
}
.personal-details {
  top: 736px;
  left: 395.38px;
  width: 233.96px;
}
.frame-child6 {
  position: absolute;
  top: 23.47px;
  left: 0;
  border-radius: 28.44px;
  border: 0.7px solid var(--color-black);
  box-sizing: border-box;
  width: 320.71px;
  height: 68.27px;
}
.time {
  position: absolute;
  top: 0;
  left: 2.84px;
  display: flex;
  align-items: center;
  width: 144.36px;
  height: 23.47px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8,
.rectangle-parent9 {
  position: absolute;
  top: 480px;
  left: 100.98px;
  width: 320.71px;
  height: 91.73px;
}
.rectangle-parent7,
.rectangle-parent8,
.rectangle-parent9 {
  left: 602.31px;
}
.rectangle-parent8,
.rectangle-parent9 {
  top: 594.49px;
  left: 100.98px;
}
.rectangle-parent9 {
  left: 602.31px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent12,
.rectangle-parent13 {
  position: absolute;
  top: 365.51px;
  left: 100.98px;
  width: 320.71px;
  height: 91.73px;
}
.rectangle-parent11,
.rectangle-parent12,
.rectangle-parent13 {
  left: 602.31px;
}
.rectangle-parent12,
.rectangle-parent13 {
  top: 834.84px;
  left: 102.4px;
}
.rectangle-parent13 {
  left: 601.6px;
}
.i-have-read,
.rectangle-parent14,
.rectangle-parent15 {
  position: absolute;
  top: 957.16px;
  left: 102.4px;
  width: 320.71px;
  height: 91.73px;
}
.i-have-read,
.rectangle-parent15 {
  left: 601.6px;
}
.i-have-read {
  top: 1079.47px;
  left: 144.36px;
  font-size: 17.07px;
  display: flex;
  align-items: center;
  width: 406.76px;
  height: 34.84px;
}
.booking-child,
.booking-item {
  position: absolute;
  top: 1083.02px;
  left: 102.4px;
  border: 0.7px solid var(--color-black);
  box-sizing: border-box;
  width: 28.44px;
  height: 28.44px;
}
.booking-item {
  top: 1139.2px;
}
.i-would-like,
.sign-up4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.i-would-like {
  top: 1135.64px;
  left: 144.36px;
  font-size: 17.07px;
  width: 706.84px;
  height: 34.84px;
}
.sign-up4 {
  top: 26.41px;
  left: 6.13px;
  line-height: 17.07px;
  justify-content: center;
  width: 255.9px;
  height: 23.89px;
}
.learn-more2 {
  position: absolute;
  top: 1210.31px;
  left: 376.89px;
  border-radius: 28.44px;
  background-color: var(--color-orange);
  width: 269.69px;
  height: 76.7px;
  text-align: center;
  color: var(--color-white);
}
.frame-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  border-bottom: 1.4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1024px;
  height: 170.67px;
}
.educational-programms2 {
  left: 413.16px;
  width: 103.82px;
}
.about-us2,
.contact-us4,
.educational-programms2,
.support-us2 {
  position: absolute;
  top: 77.51px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.51px;
}
.contact-us4 {
  left: 730.31px;
  width: 93.16px;
  cursor: pointer;
}
.about-us2,
.support-us2 {
  left: 576px;
  width: 95.29px;
}
.about-us2 {
  top: 78.22px;
  left: 251.73px;
  width: 78.93px;
}
.logo-icon2 {
  position: absolute;
  top: 6.4px;
  left: 30.58px;
  width: 157.16px;
  height: 157.16px;
  object-fit: cover;
  cursor: pointer;
}
.sign-up5 {
  position: absolute;
  top: 14.93px;
  left: 15.64px;
  line-height: 17.07px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.16px;
  height: 13.51px;
}
.book2 {
  position: absolute;
  top: 62.58px;
  left: 882.49px;
  border-radius: 9.24px;
  background-color: var(--color-yellowgreen);
  width: 125.16px;
  height: 43.38px;
  color: var(--color-white);
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#f4f4f4, #f4f4f4), #f4f4f4;
  border: 0.7px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1024px;
  height: 170.67px;
  text-align: center;
  font-size: 17.07px;
  color: var(--color-yellowgreen);
}
.booking {
  position: relative;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 2.844444513320923px 2.84px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1456.36px;
  overflow-x: auto;
  text-align: left;
  font-size: 21.33px;
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
