.animal-name-1,
.lorem-ipsum-dolor3 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.animal-name-1 {
  top: 0;
  font-weight: 300;
  width: 413.87px;
  height: 55.47px;
}
.lorem-ipsum-dolor3 {
  top: 60.44px;
  font-size: 17.07px;
  color: var(--color-black);
  width: 403.2px;
  height: 194.84px;
}
.animal-1,
.animal-2,
.animal-3,
.image-4-icon {
  position: absolute;
  top: 341.33px;
  left: 41.24px;
  width: 940.8px;
  height: 287.29px;
}
.animal-2,
.animal-3,
.image-4-icon {
  top: 712.53px;
}
.animal-3,
.image-4-icon {
  top: 1083.73px;
}
.image-4-icon {
  top: 0;
  left: 477.16px;
  border-radius: 42.67px;
  width: 463.64px;
  object-fit: cover;
}
.animal-4,
.animal-5 {
  position: absolute;
  top: 1454.93px;
  left: 47.64px;
  width: 940.8px;
  height: 287.29px;
}
.animal-5 {
  top: 1826.13px;
}
.our-pawed-friends10 {
  position: absolute;
  top: 2.8px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.87px;
  height: 11.38px;
}
.our-facilities9,
.our-pawed-friends9 {
  position: absolute;
  top: 40.53px;
  left: 7.11px;
  width: 93.87px;
  height: 17.02px;
}
.our-facilities9 {
  top: 2.35px;
  left: 9.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73.96px;
  height: 11.15px;
}
.our-facilities8,
.who-are-we10 {
  position: absolute;
  top: 22.04px;
  left: 7.11px;
  width: 93.87px;
  height: 17.02px;
}
.who-are-we10 {
  top: 3.56px;
}
.abouts-us-dropdown4 {
  position: absolute;
  top: 100.98px;
  left: 246.04px;
  border-radius: 9.24px;
  background-color: var(--color-whitesmoke);
  border: 1.4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 108.09px;
  height: 61.16px;
  overflow: hidden;
  text-align: center;
  font-size: 9.96px;
  color: var(--color-black);
}
.admin-panel4,
.cookies4,
.copyright-20234,
.privacy-policy4,
.terms-of-use4 {
  position: absolute;
  top: 19.2px;
  left: 310.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403.2px;
  height: 44.8px;
}
.admin-panel4,
.cookies4,
.privacy-policy4,
.terms-of-use4 {
  top: 68.98px;
  left: 266.67px;
  text-decoration: underline;
  width: 115.2px;
  height: 31.29px;
}
.admin-panel4,
.cookies4,
.privacy-policy4 {
  left: 393.96px;
  width: 120.89px;
}
.admin-panel4,
.cookies4 {
  left: 526.93px;
  width: 97.42px;
}
.admin-panel4 {
  left: 636.44px;
  width: 120.18px;
  cursor: pointer;
}
.footer4,
.our-pawed-friends11 {
  position: absolute;
  text-align: center;
}
.footer4 {
  top: 2197.33px;
  left: 0;
  background-color: var(--color-yellowgreen);
  width: 1024px;
  height: 130.13px;
  font-size: 17.07px;
  color: var(--color-white);
}
.our-pawed-friends11 {
  top: 228.27px;
  left: 46.93px;
  font-size: 42.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 423.82px;
  height: 55.47px;
}
.frame-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  border-bottom: 1.4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1024px;
  height: 170.67px;
}
.educational-programms4 {
  left: 413.16px;
  width: 103.82px;
}
.about-us4,
.contact-us6,
.educational-programms4,
.support-us4 {
  position: absolute;
  top: 77.51px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.51px;
}
.contact-us6 {
  left: 730.31px;
  width: 93.16px;
  cursor: pointer;
}
.about-us4,
.support-us4 {
  left: 576px;
  width: 95.29px;
}
.about-us4 {
  top: 78.22px;
  left: 251.73px;
  width: 78.93px;
}
.logo-icon4 {
  position: absolute;
  top: 6.4px;
  left: 30.58px;
  width: 157.16px;
  height: 157.16px;
  object-fit: cover;
  cursor: pointer;
}
.sign-up7 {
  position: absolute;
  top: 14.93px;
  left: 15.64px;
  line-height: 17.07px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.16px;
  height: 13.51px;
}
.book4 {
  position: absolute;
  top: 62.58px;
  left: 882.49px;
  border-radius: 9.24px;
  background-color: var(--color-yellowgreen);
  width: 125.16px;
  height: 43.38px;
  color: var(--color-white);
}
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  border: 0.7px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 1024px;
  height: 170.67px;
  text-align: center;
  font-size: 17.07px;
  color: var(--color-yellowgreen);
}
.our-pawed-friends8 {
  position: relative;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 2.844444513320923px 2.84px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2327.47px;
  overflow-x: auto;
  text-align: left;
  font-size: 34.13px;
  color: var(--color-orange);
  font-family: var(--font-montserrat);
}
