body {
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 50px;
  border-bottom: var(--color-teal) 2px solid;
  background-color: var(--color-teal);
  overflow-x: auto;
  overflow-y: hidden;
}

.logo img {
  width: 180px;
  height: auto;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  padding: 0;
  font-size: 18px;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  color: var(--color-white);
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

nav ul li a:hover {
  color: var(--color-orange);
}

.book {
  background-color: var(--color-whitesmoke);
  color: var(--color-teal);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 20px;
  }
  
  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .logo img {
    margin-bottom: 20px;
  }
  
  .book {
    margin-top: 20px;
  }
}

main {
  margin-top: 250px;
  align-items: center;
  justify-content: center;
}

main h1{
  color: var(--color-teal);
  margin-bottom: 50px;
}

main h2 {
  color: black;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

th, td {
  border: 1px solid var(--color-teal);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--color-teal);
  font-weight: bold;
}

td{
  color: black;
}

button{
  background-color: var(--color-teal);
  color: var(--color-white);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}


footer {
  background-color: var(--color-teal);
  color: var(--color-white);
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  position: fixed;
}

a{
  color: white;
}
